.scrollable-div{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    width: 100%;
    max-height: 10em;
}

.input-container{    
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-input{
    height: 2em;
    width: 75%;
    font-size: 0.7em;
    border: none;
    border-bottom: 3px solid darkblue;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none; /*remove the resize handle on the bottom right*/
    border-radius: 3px;
}

.send-button{
    width: 8em;
    height: 2.5em;
    font-size: 0.7em;
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 0 1em;
    background: linear-gradient(90deg, rgba(240,45,69,1) 0%, rgba(240,45,58,1) 100%);
    border: none;
    border-radius: 5px;
    color: #fff;
}  

.send-button:hover{
    border: 5px solid linear-gradient(90deg, rgb(92, 48, 187) 0%, rgb(84, 45, 240) 100%);
}

.send-button:active{
    background: linear-gradient(90deg, rgb(210, 72, 88) 0%, rgb(232, 72, 83) 100%);
}

.send-button:disabled,
.send-button[disabled]{
  background: #6b6b6b;
  color: #fff;
}
